@import "aos/dist/aos.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
.icon {
   @apply w-5 h-5 xl:w-6 xl:h-6 2xl:w-7 2xl:h-7 ;

   
}
@media screen and (min-width: 1024px) {
    body {
        zoom: 0.7;
    }
}



}